<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee Name</th>
                <th>Employee Email</th>
                <th>Contact Number</th>
                <th>Action</th>
            </tr>
        </thead>
        
        {% for i in employee %}
        <tr>
            <td>{{i.eid}}</td>
            <td>{{i.ename}}</td>
            <td>{{i.eemail}}</td>
            <td>{{i.econtact}}</td>
            <td>
                <a href="/edit/{{i.id}}">Edit</a>
                <a href="/delete/{{i.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/emp">Add new record</a>
</body>
</html>